@tailwind base;
@tailwind components;
@tailwind utilities;

.incremental-checkbox {
  display: grid;
  text-align: center;
  align-items: center;
  height: 1.5rem;
  width: 1.5rem;
}

.incremental-checkbox input,
.incremental-checkbox span {
  grid-column: 1;
  grid-row: 1;
}

.incremental-checkbox span {
  font-weight: bold;
}

.incremental-checkbox span::selection {
  color: none;
  background: none;
}